@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/*selector de etiquetas */
h1{
    font-family: "Play", sans-serif;
    margin-top: 10px;
    font-size: 2.8em;
}
h2{
    font-family: "Play", sans-serif;
    font-size: 2.2em;
}
h3{
    font-family: "Play", sans-serif;
    font-size: 1.9em;
}
nav{
    background-color: black;
}

footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
    footer img{
        width: 280px;
        height: 55px;
        display: flex;
    }
        footer p{
            color: rgb(255, 255, 255);
            font-size: 1.7em;
        }
            footer ul li{
                list-style: square;
                color: white;
            }
                footer ul li a{
                    color: white;
                    font-size: 1.2em;
                    text-decoration: none;
                }

form{
    text-align: center;
}
    form div input{
        width: 300px;
        height: 20px;
    }
/*selector de clases */
.logo-size{
    width: 350px;
    height: 60px;
}

.nav_font-size{
    font-family: "Play", sans-serif;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 10px;
}

.img-banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-index{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.footer-derechos{
    font-size: 1.0em;
}
/* Pagina index */
.texto_index{
    margin: 30px;
    font-size: 1.4em;
}
.video-index{
    width: 620px;
    height: 350px;
}
.grid_index{
    display: grid;
    box-sizing: border-box;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 50px 350px 50px 350px 50px 350px 50px 350px 80px 500px 500px 500px;
    grid-template-areas:
    "t1 t1"
    "t2 t2"
    "inf1 inf1"
    "t3 t3"
    "inf2 inf2"
    "t4 t4"
    "inf3 inf3"
    "t5 t5"
    "inf4 inf4"
    "t6 t6"
    "v1 v2"
    "v3 v4"
    "v5 v6";
}
    .grid_index .titulo-1{
        grid-area: t1;
        font-size: 1.1em;
        text-align: center;
    }
    .grid_index .titulo-2{
        grid-area: t2;
    }
    .grid_index .info-1{
        grid-area: inf1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .grid_index .titulo-3{
        grid-area: t3;
    }
    .grid_index .info-2{
        grid-area: inf2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .grid_index .titulo-4{
        grid-area: t4;
    }
    .grid_index .info-3{
        grid-area: inf3;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .grid_index .titulo-5{
        grid-area: t5;
    }
    .grid_index .info-4{
        grid-area: inf4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .grid_index .titulo-6{
        grid-area: t6;
        text-align: center;
        font-size: 1.3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid_index .vid-1{
        grid-area: v1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-2{
        grid-area: v2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-3{
        grid-area: v3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-4{
        grid-area: v4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-5{
        grid-area: v5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-6{
        grid-area: v6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
/* Pagina Tienda */
.title-principal{
    font-size: 1.1em;
    margin-bottom: -30px;
    text-align: center;
}
.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .productos figure{
        width: 31%;
        margin-bottom: 30px;
        margin-top: 20px;
        margin: 10px;
    }
        .productos figure p{
            font-size: 1em;
            margin-bottom: 10px;
            margin-top: 10px;
        }
            .productos figure figcaption{
                font-size: 1.4em;
            }
                .productos figure button{
                    border: solid;
                    background-color: #0C2F5D;
                    color: white;
                    border-radius: 8px;
                    padding: 10px;
                    margin-bottom: 10px;
                }
.centro{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.tienda_titulo{
    text-align: left;
    margin: 30px;
}
/* Pagina Actores */
.titulo-principal{
    text-align: center;
}
.grid_actores{
    display: grid;
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 100px 400px 400px 120px 400px 400px;
    grid-template-areas:
    "tp tp"
    "t-1 t-1"
    "a1 a1"
    "a2 a2"
    "t-2 t-2"
    "a3 a3"
    "a4 a4";
}
    .grid_actores .titulo-principal{
        grid-area: tp;
        font-size: 1.1em;
        margin-top: -10px;
    }
    .grid_actores .title1{
        grid-area: t-1;
    }
    .grid_actores .actor-1{
        grid-area: a1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .grid_actores .actor-2{
        grid-area: a2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .grid_actores .title2{
        grid-area: t-2;
    }
    .grid_actores .actor-3{
        grid-area: a3;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .grid_actores .actor-4{
        grid-area: a4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
.img-actores{
    height: 350px;
    width: 350px;
}
.text-actores{
    font-size: 1.2em;
    margin: 20px;
}
.title-actores{
    font-size: 1.11em;
}
/* Pagina HoYoverse */
.title-hoyoverse{
    font-size: 1.1em;
    margin-bottom: -30px;
    text-align: center;
}
.contenedor-inf{
    text-align: center;
    padding: 30px;
    font-size: 1.2em;
}
.contenedor-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contenedor-rs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}
.img-hoyoverse{
    width: 150px;
    height: 150px;
}
.subtitulo-hoyoverse{
    font-size: 1.2em;
    text-align: left;
    margin-left: 50px;
    margin-bottom: -40px;
}
.mini-hoyoverse{
    display: flex;
    flex-direction: row;
    align-items: center;
    }
.titulo-vid{
    font-size: 0.7em;
    font-style: italic;
    color: #424242bb;
}
.text-vid{
    font-size: 1.1em;
    margin: 20px;
}
.video-hoyoverse{
    width: 560px;
    height: 315px;
}
.img-lugar{
    width: 500px;
    height: 350px;
}
/* Pagina Contactanos */
.contenedor_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.contenedor_contacto-texto{
    text-align: center;
    display: flex;
}

.titulo-contacto{
    text-align: center;
}

.btn-contacto{
    border: solid;
    background-color: #0C2F5D;
    color: white;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.tamano-mensaje{
    width: 300px;
    height: 300px;
}
/* 1er Breakpoint */
@media(max-width: 1400px){
/* pagina index */
.texto_index{
    margin: 30px;
    font-size: 1.1em;
    text-align: center;
}
.grid_index{
    box-sizing: border-box;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 60px 470px 60px 460px 60px 460px 60px 460px 100px 500px 500px 500px 500px 500px 500px;
    grid-template-areas:
    "t1"
    "t2"
    "inf1"
    "t3"
    "inf2"
    "t4"
    "inf3"
    "t5"
    "inf4"
    "t6"
    "v1"
    "v2"
    "v3"
    "v4"
    "v5"
    "v6";
}
    .grid_index .titulo-1{
        grid-area: t1;
        font-size: 0.9em;
        text-align: center;
    }
    .grid_index .titulo-2{
        grid-area: t2;
        text-align: center;
        margin-top: 10px;
    }
    .grid_index .info-1{
        grid-area: inf1;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: -20px;
    }
    .grid_index .titulo-3{
        grid-area: t3;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }
    .grid_index .info-2{
        grid-area: inf2;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: -20px;
    }
    .grid_index .titulo-4{
        grid-area: t4;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }
    .grid_index .info-3{
        grid-area: inf3;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: -20px;
    }
    .grid_index .titulo-5{
        grid-area: t5;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }
    .grid_index .info-4{
        grid-area: inf4;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: -20px;
    }
    .grid_index .titulo-6{
        grid-area: t6;
        text-align: center;
        margin-top: 60px;
        font-size: 1.1em;
    }
    .grid_index .vid-1{
        grid-area: v1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-2{
        grid-area: v2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-3{
        grid-area: v3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-4{
        grid-area: v4;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-5{
        grid-area: v5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
    .grid_index .vid-6{
        grid-area: v6;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
    }
/* ends index */
/* Pagina hoyoverse */
.contenedor-img{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.img-lugar{
    padding: 10px;
}
}
/* 2do breakpoint */
@media(max-width: 1024px){
/* pagina index */
.texto_index{
    margin: 20px;
}
.grid_index{
    grid-template-columns: 1fr;
    grid-template-rows: 80px 60px 530px 70px 510px 70px 510px 70px 510px 100px 500px 500px 500px 500px 500px 500px;
    grid-template-areas:
    "t1"
    "t2"
    "inf1"
    "t3"
    "inf2"
    "t4"
    "inf3"
    "t5"
    "inf4"
    "t6"
    "v1"
    "v2"
    "v3"
    "v4"
    "v5"
    "v6";
}
    .grid_index .titulo-1{
        grid-area: t1;
        font-size: 0.8em;
    }
    .grid_index .titulo-2{
        grid-area: t2;
        padding: 10px;
    }
    .grid_index .info-1{
        grid-area: inf1;
    }
    .grid_index .titulo-3{
        grid-area: t3;
        margin-top: 15px;
    }
    .grid_index .info-2{
        grid-area: inf2;
    }
    .grid_index .titulo-4{
        grid-area: t4;
        margin-top: 20px;
    }
    .grid_index .info-3{
        grid-area: inf3;
    }
    .grid_index .titulo-5{
        grid-area: t5;
        margin-top: 20px;
    }
    .grid_index .info-4{
        grid-area: inf4;
    }
    .grid_index .titulo-6{
        grid-area: t6;
    }
    .grid_index .vid-1{
        grid-area: v1;
    }
    .grid_index .vid-2{
        grid-area: v2;
    }
    .grid_index .vid-3{
        grid-area: v3;
    }
    .grid_index .vid-4{
        grid-area: v4;
    }
    .grid_index .vid-5{
        grid-area: v5;
    }
    .grid_index .vid-6{
        grid-area: v6;
    }
/* ends index */
/* Pagina Tienda */
.title-principal{
    font-size: 1.1em;
    margin-bottom: -20px;
    text-align: center;
}
.productos{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .productos figure{
        width: 45%;
        margin-bottom: 30px;
        margin-top: 20px;
        margin: 10px;
    }
        .productos figure p{
            font-size: 1em;
            margin-bottom: 10px;
            margin-top: 10px;
        }
.centro{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.tienda_titulo{
    text-align: left;
    margin: 40px;
}
.img-banner{
    height: 90vh;
    }
/* ends tienda */
/* Pagina Actores */
.grid_actores{
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 120px 650px 560px 160px 560px 560px;
    grid-template-areas:
    "tp"
    "t-1"
    "a1"
    "a2"
    "t-2"
    "a3"
    "a4";
}
    .grid_actores .titulo-principal{
        grid-area: tp;
        font-size: 1em;
        margin-top: -10px;
    }
    .grid_actores .title1{
        grid-area: t-1;
        font-size: 1em;
        text-align: center;
        padding: 20px;
    }
    .grid_actores .actor-1{
        grid-area: a1;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-2{
        grid-area: a2;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .title2{
        grid-area: t-2;
        text-align: center;
        padding: 20px;
        font-size: 1em;
    }
    .grid_actores .actor-3{
        grid-area: a3;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-4{
        grid-area: a4;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
.img-actores{
    height: 280px;
    width: 280px;
}
.text-actores{
    font-size: 1.1em;
    margin: 20px;
    text-align: center;
}
.title-actores{
    font-size: 0.9em;
}
/* Pagina hoyoverse */
.img-lugar{
    width: 500px;
    height: 350px;
}
.contenedor-rs{
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px;
}
.subtitulo-hoyoverse{
    font-size: 1.2em;
    text-align: center;
    margin-left: 50px;
    margin-bottom: -40px;
}
}
/* 3ero Breakpoint */
@media(max-width: 768px){
footer{
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
    footer p{
        font-size: 1.3em;
    }
/* pagina index */
.texto_index{
    margin: 20px;
    font-size: 1em;
}
.video-index{
    width: 560px;
    height: 300px;
}
.grid_index{
    grid-template-columns: 1fr;
    grid-template-rows: 90px 60px 530px 75px 500px 80px 510px 70px 510px 100px 500px 500px 500px 500px 500px 500px;
    grid-template-areas:
    "t1"
    "t2"
    "inf1"
    "t3"
    "inf2"
    "t4"
    "inf3"
    "t5"
    "inf4"
    "t6"
    "v1"
    "v2"
    "v3"
    "v4"
    "v5"
    "v6";
}
    .grid_index .titulo-1{
        grid-area: t1;
        font-size: 0.8em;
    }
    .grid_index .titulo-2{
        grid-area: t2;
        font-size: 0.85em;
    }
    .grid_index .info-1{
        grid-area: inf1;
    }
    .grid_index .titulo-3{
        grid-area: t3;
        font-size: 0.85em;
    }
    .grid_index .info-2{
        grid-area: inf2;
    }
    .grid_index .titulo-4{
        grid-area: t4;
        font-size: 0.85em;
    }
    .grid_index .info-3{
        grid-area: inf3;
    }
    .grid_index .titulo-5{
        grid-area: t5;
        font-size: 0.85em;
    }
    .grid_index .info-4{
        grid-area: inf4;
    }
    .grid_index .titulo-6{
        grid-area: t6;
    }
    .grid_index .vid-1{
        grid-area: v1;
    }
    .grid_index .vid-2{
        grid-area: v2;
    }
    .grid_index .vid-3{
        grid-area: v3;
    }
    .grid_index .vid-4{
        grid-area: v4;
    }
    .grid_index .vid-5{
        grid-area: v5;
    }
    .grid_index .vid-6{
        grid-area: v6;
    }
/* ends index */
/* Pagina Actores */
.grid_actores{
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 110px 650px 580px 130px 590px 570px;
    grid-template-areas:
    "tp"
    "t-1"
    "a1"
    "a2"
    "t-2"
    "a3"
    "a4";
}
    .grid_actores .titulo-principal{
        grid-area: tp;
        font-size: 0.95em;
        margin-top: -10px;
    }
    .grid_actores .title1{
        grid-area: t-1;
        font-size: 0.9em;
        text-align: center;
        padding: 20px;
    }
    .grid_actores .actor-1{
        grid-area: a1;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-2{
        grid-area: a2;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .title2{
        grid-area: t-2;
        text-align: center;
        padding: 20px;
        font-size: 0.9em;
    }
    .grid_actores .actor-3{
        grid-area: a3;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-4{
        grid-area: a4;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
.img-actores{
    height: 280px;
    width: 280px;
}
.text-actores{
    font-size: 1em;
    margin: 20px;
    text-align: center;
}
}
/* 4to Breakpoint */
@media(max-width: 600px){
.logo-size{
    width: 280px;
    height: 55px;
}
/* pagina index */
.texto_index{
    margin: 30px;
    font-size: 1em;
}
.video-index{
    width: 410px;
    height: 250px;
}
.img-index{
    width: 400px;
    height: 220px;
}
.grid_index{
    grid-template-columns: 1fr;
    grid-template-rows: 90px 50px 520px 60px 520px 60px 520px 50px 520px 100px 400px 400px 400px 400px 400px 400px;
    grid-template-areas:
    "t1"
    "t2"
    "inf1"
    "t3"
    "inf2"
    "t4"
    "inf3"
    "t5"
    "inf4"
    "t6"
    "v1"
    "v2"
    "v3"
    "v4"
    "v5"
    "v6";
}
    .grid_index .titulo-1{
        grid-area: t1;
        font-size: 0.7em;
    }
    .grid_index .titulo-2{
        grid-area: t2;
        font-size: 0.8em;
    }
    .grid_index .info-1{
        grid-area: inf1;
    }
    .grid_index .titulo-3{
        grid-area: t3;
        font-size: 0.8em;
    }
    .grid_index .info-2{
        grid-area: inf2;
    }
    .grid_index .titulo-4{
        grid-area: t4;
        font-size: 0.8em;
    }
    .grid_index .info-3{
        grid-area: inf3;
    }
    .grid_index .titulo-5{
        grid-area: t5;
        font-size: 0.8em;
    }
    .grid_index .info-4{
        grid-area: inf4;
    }
    .grid_index .titulo-6{
        grid-area: t6;
        font-size: 1em;
    }
    .grid_index .vid-1{
        grid-area: v1;
    }
    .grid_index .vid-2{
        grid-area: v2;
    }
    .grid_index .vid-3{
        grid-area: v3;
    }
    .grid_index .vid-4{
        grid-area: v4;
    }
    .grid_index .vid-5{
        grid-area: v5;
    }
    .grid_index .vid-6{
        grid-area: v6;
    }
/* Pagina Actores */
.grid_actores{
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 120px 670px 590px 140px 610px 590px;
    grid-template-areas:
    "tp"
    "t-1"
    "a1"
    "a2"
    "t-2"
    "a3"
    "a4";
}
    .grid_actores .titulo-principal{
        grid-area: tp;
        font-size: 0.95em;
        margin-top: -10px;
    }
    .grid_actores .title1{
        grid-area: t-1;
        font-size: 0.9em;
        text-align: center;
        padding: 20px;
    }
    .grid_actores .actor-1{
        grid-area: a1;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-2{
        grid-area: a2;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .title2{
        grid-area: t-2;
        text-align: center;
        padding: 20px;
        font-size: 0.9em;
    }
    .grid_actores .actor-3{
        grid-area: a3;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-4{
        grid-area: a4;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
.img-actores{
    height: 280px;
    width: 280px;
}
.text-actores{
    font-size: 1em;
    margin: 20px;
    text-align: center;
}
/* ends actores */
/* Pagina hoyoverse */
.mini-hoyoverse{
    justify-content: center;
}
.title-hoyoverse{
    font-size: 1em;
}
.contenedor-inf{
    font-size: 1em;
}
.text-vid{
    font-size: 1em;
    margin: 20px;
}
.titulo-vid{
    font-size: 0.65em;
}
.subtitulo-hoyoverse{
    font-size: 1em;
}
.video-hoyoverse{
    width: 480px;
    height: 260px;
}
}
/* 5to Breakpoint */
@media(max-width: 536px){
/* pagina index */
.video-index{
    width: 410px;
    height: 250px;
}
.img-index{
    width: 400px;
    height: 220px;
}
.grid_index{
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 60px 570px 70px 570px 70px 570px 70px 570px 80px 380px 380px 380px 380px 380px 380px;
    grid-template-areas:
    "t1"
    "t2"
    "inf1"
    "t3"
    "inf2"
    "t4"
    "inf3"
    "t5"
    "inf4"
    "t6"
    "v1"
    "v2"
    "v3"
    "v4"
    "v5"
    "v6";
}
    .grid_index .titulo-1{
        grid-area: t1;
        font-size: 0.7em;
    }
    .grid_index .titulo-2{
        grid-area: t2;
        font-size: 0.8em;
    }
    .grid_index .info-1{
        grid-area: inf1;
        margin-top: -15px;
    }
    .grid_index .titulo-3{
        grid-area: t3;
        font-size: 0.8em;
    }
    .grid_index .info-2{
        grid-area: inf2;
    }
    .grid_index .titulo-4{
        grid-area: t4;
        font-size: 0.8em;
        margin-top: 20px;
    }
    .grid_index .info-3{
        grid-area: inf3;
    }
    .grid_index .titulo-5{
        grid-area: t5;
        font-size: 0.8em;
    }
    .grid_index .info-4{
        grid-area: inf4;
    }
    .grid_index .titulo-6{
        grid-area: t6;
        font-size: 1em;
        margin-top: 60px;
    }
    .grid_index .vid-1{
        grid-area: v1;
    }
    .grid_index .vid-2{
        grid-area: v2;
    }
    .grid_index .vid-3{
        grid-area: v3;
    }
    .grid_index .vid-4{
        grid-area: v4;
    }
    .grid_index .vid-5{
        grid-area: v5;
    }
    .grid_index .vid-6{
        grid-area: v6;
    }
/* Pagina Tienda */
.title-principal{
    font-size: 1.1em;
    margin-bottom: -20px;
    text-align: center;
}
.productos{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .productos figure{
        width: 100%;
        margin-bottom: 30px;
        margin-top: 20px;
        margin: 10px;
    }
        .productos figure p{
            font-size: 1em;
            margin-bottom: 10px;
            margin-top: 10px;
        }
            .productos figure figcaption{
                font-size: 1.4em;
            }
.centro{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.tienda_titulo{
    text-align: center;
    margin: 20px;
}
.img-banner{
height: 85vh;
}
/* Pagina Actores */
.grid_actores{
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 150px 660px 610px 170px 610px 630px;
    grid-template-areas:
    "tp"
    "t-1"
    "a1"
    "a2"
    "t-2"
    "a3"
    "a4";
}
    .grid_actores .titulo-principal{
        grid-area: tp;
        font-size: 0.8em;
        margin-top: -10px;
    }
    .grid_actores .title1{
        grid-area: t-1;
        font-size: 0.8em;
        text-align: center;
        padding: 20px;
    }
    .grid_actores .actor-1{
        grid-area: a1;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-2{
        grid-area: a2;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .title2{
        grid-area: t-2;
        text-align: center;
        padding: 20px;
        font-size: 0.8em;
    }
    .grid_actores .actor-3{
        grid-area: a3;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-4{
        grid-area: a4;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
.img-actores{
    height: 280px;
    width: 280px;
}
.text-actores{
    font-size: 0.9em;
    margin: 20px;
    text-align: center;
}
/* ends actores */
/* pagina hoyoverse */
.img-lugar{
    width: 390px;
    height: 270px;
}
.video-hoyoverse{
    width: 390px;
    height: 225px;
}
.subtitulo-hoyoverse{
    font-size: 0.9em;
    margin-left: -10px;
}
.img-hoyoverse{
    width: 120px;
    height: 120px;
}
.text-vid{
    text-align: center;
}
}
/* 6to Breakpoint */
@media(max-width: 425px){
/* pagina index */
.texto_index{
    margin: 30px;
    font-size: 0.8em;
}
.video-index{
    width: 350px;
    height: 220px;
}
.img-index{
    width: 300px;
    height: 140px;
    object-fit: cover;
}
.slide img{
    height: 80vh;
}
.logo-size{
    width: 250px;
    height: 45px;
}
.grid_index{
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 50px 430px 60px 440px 60px 440px 60px 420px 70px 360px 350px 350px 350px 350px 350px;
    grid-template-areas:
    "t1"
    "t2"
    "inf1"
    "t3"
    "inf2"
    "t4"
    "inf3"
    "t5"
    "inf4"
    "t6"
    "v1"
    "v2"
    "v3"
    "v4"
    "v5"
    "v6";
}
    .grid_index .titulo-1{
        grid-area: t1;
        font-size: 0.6em;
    }
    .grid_index .titulo-2{
        grid-area: t2;
        font-size: 0.8em;
    }
    .grid_index .info-1{
        grid-area: inf1;
    }
    .grid_index .titulo-3{
        grid-area: t3;
        font-size: 0.8em;
    }
    .grid_index .info-2{
        grid-area: inf2;
    }
    .grid_index .titulo-4{
        grid-area: t4;
        font-size: 0.8em;
        margin-top: 5px;
    }
    .grid_index .info-3{
        grid-area: inf3;
    }
    .grid_index .titulo-5{
        grid-area: t5;
        font-size: 0.8em;
    }
    .grid_index .info-4{
        grid-area: inf4;
    }
    .grid_index .titulo-6{
        grid-area: t6;
        font-size: 0.9em;
        margin-top: 20px;
    }
    .grid_index .vid-1{
        grid-area: v1;
        font-size: 1.2em;
    }
    .grid_index .vid-2{
        grid-area: v2;
        font-size: 1.2em;
    }
    .grid_index .vid-3{
        grid-area: v3;
        font-size: 1.2em;
    }
    .grid_index .vid-4{
        grid-area: v4;
        font-size: 1.2em;
    }
    .grid_index .vid-5{
        grid-area: v5;
        font-size: 1.2em;
    }
    .grid_index .vid-6{
        grid-area: v6;
        font-size: 1.2em;
    }
/* Pagina Actores */
.grid_actores{
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 150px 660px 600px 180px 600px 580px;
    grid-template-areas:
    "tp"
    "t-1"
    "a1"
    "a2"
    "t-2"
    "a3"
    "a4";
}
    .grid_actores .titulo-principal{
        grid-area: tp;
        font-size: 0.75em;
        margin-top: -10px;
    }
    .grid_actores .title1{
        grid-area: t-1;
        font-size: 0.8em;
        text-align: center;
        padding: 20px;
    }
    .grid_actores .actor-1{
        grid-area: a1;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-2{
        grid-area: a2;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .title2{
        grid-area: t-2;
        text-align: center;
        padding: 20px;
        font-size: 0.8em;
    }
    .grid_actores .actor-3{
        grid-area: a3;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-4{
        grid-area: a4;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
.img-actores{
    height: 280px;
    width: 280px;
}
.text-actores{
    font-size: 0.8em;
    margin: 20px;
    text-align: center;
}
/* ends actores */
/* pagina hoyoverse */
.title-hoyoverse{
    font-size: 0.8em;
}
.contenedor-inf{
    font-size: 0.8em;
}
.video-hoyoverse{
    width: 350px;
    height: 200px;
}
}
/* 7mo Breakpoint */
@media(max-width: 375px){
/* pagina index */
.texto_index{
    margin: 20px;
    font-size: 0.72em;
}
.video-index{
    width: 300px;
    height: 180px;
}
.img-index{
    width: 290px;
    height: 200px;
    object-fit: cover;
}
.slide img{
    height: 80vh;
}
.logo-size{
    width: 200px;
    height: 40px;
}
.grid_index{
    grid-template-columns: 1fr;
    grid-template-rows: 70px 50px 430px 50px 420px 50px 400px 50px 410px 60px 300px 300px 300px 300px 300px 300px;
    grid-template-areas:
    "t1"
    "t2"
    "inf1"
    "t3"
    "inf2"
    "t4"
    "inf3"
    "t5"
    "inf4"
    "t6"
    "v1"
    "v2"
    "v3"
    "v4"
    "v5"
    "v6";
    }
.grid_index .titulo-1{
    grid-area: t1;
    font-size: 0.5em;
}
.grid_index .titulo-2{
    grid-area: t2;
    font-size: 0.6em;
}
.grid_index .info-1{
    grid-area: inf1;
}
.grid_index .titulo-3{
    grid-area: t3;
    font-size: 0.6em;
    margin-top: 5px;
}
.grid_index .info-2{
    grid-area: inf2;
}
.grid_index .titulo-4{
    grid-area: t4;
    font-size: 0.6em;
}
.grid_index .info-3{
    grid-area: inf3;
}
.grid_index .titulo-5{
    grid-area: t5;
    font-size: 0.6em;
    margin-top: 5px;
}
.grid_index .info-4{
    grid-area: inf4;
}
.grid_index .titulo-6{
    grid-area: t6;
    font-size: 0.80em;
}
.grid_index .vid-1{
    grid-area: v1;
    font-size: 1.1em;
}
.grid_index .vid-2{
    grid-area: v2;
    font-size: 1.1em;
}
.grid_index .vid-3{
    grid-area: v3;
    font-size: 1.1em;
}
.grid_index .vid-4{
    grid-area: v4;
    font-size: 1.1em;
}
.grid_index .vid-5{
    grid-area: v5;
    font-size: 1.1em;
}
.grid_index .vid-6{
    grid-area: v6;
    font-size: 1.1em;
}
/* Pagina Tienda */
.title-principal{
    font-size: 1em;
    margin-bottom: -20px;
    text-align: center;
}
.tienda_titulo{
    text-align: center;
    margin: 20px;
    margin-bottom: -20px;
    font-size: 0.8em;
}
.img-banner{
height: 85vh;
}
/* Pagina Actores */
.grid_actores{
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 150px 670px 600px 160px 620px 610px;
    grid-template-areas:
    "tp"
    "t-1"
    "a1"
    "a2"
    "t-2"
    "a3"
    "a4";
}
    .grid_actores .titulo-principal{
        grid-area: tp;
        font-size: 0.63em;
        margin-top: -10px;
    }
    .grid_actores .title1{
        grid-area: t-1;
        font-size: 0.75em;
        text-align: center;
        padding: 20px;
    }
    .grid_actores .actor-1{
        grid-area: a1;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-2{
        grid-area: a2;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .title2{
        grid-area: t-2;
        text-align: center;
        padding: 20px;
        font-size: 0.75em;
    }
    .grid_actores .actor-3{
        grid-area: a3;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-4{
        grid-area: a4;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
.img-actores{
    height: 280px;
    width: 280px;
}
.text-actores{
    font-size: 0.75em;
    margin: 20px;
    text-align: center;
}
/* ends actores */
/* pagina hoyoverse */
.title-hoyoverse{
    font-size: 0.7em;
}
.contenedor-inf{
    font-size: 0.7em;
}
.img-lugar{
    width: 300px;
    height: 220px;
}
.video-hoyoverse{
    width: 300px;
    height: 180px;
}
.text-vid{
    font-size: 0.8em;
}
.subtitulo-hoyoverse{
    font-size: 0.8em;
}
}
/* 8vo Breakpoint */
@media(max-width: 320px){
/* pagina index */
.texto_index{
    margin: 30px;
    font-size: 0.8em;
}
.video-index{
    width: 280px;
    height: 185px;
}
.img-index{
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.logo-size{
    width: 200px;
    height: 40px;
}
.grid_index{
    grid-template-columns: 1fr;
    grid-template-rows: 80px 50px 530px 50px 550px 50px 530px 50px 520px 60px 300px 300px 300px 300px 300px 300px;
    grid-template-areas:
    "t1"
    "t2"
    "inf1"
    "t3"
    "inf2"
    "t4"
    "inf3"
    "t5"
    "inf4"
    "t6"
    "v1"
    "v2"
    "v3"
    "v4"
    "v5"
    "v6";
    }
.grid_index .titulo-1{
    grid-area: t1;
    font-size: 0.5em;
}
.grid_index .titulo-2{
    grid-area: t2;
    font-size: 0.6em;
}
.grid_index .info-1{
    grid-area: inf1;
    margin-top: -20px;
}
.grid_index .titulo-3{
    grid-area: t3;
    font-size: 0.6em;
}
.grid_index .info-2{
    grid-area: inf2;
    margin-top: -20px;
}
.grid_index .titulo-4{
    grid-area: t4;
    font-size: 0.6em;
}
.grid_index .info-3{
    grid-area: inf3;
    margin-top: -25px;
}
.grid_index .titulo-5{
    grid-area: t5;
    font-size: 0.6em;
}
.grid_index .info-4{
    grid-area: inf4;
    margin-top: -35px;
}
.grid_index .titulo-6{
    grid-area: t6;
    font-size: 0.70em;
}
.grid_index .vid-1{
    grid-area: v1;
    font-size: 1.1em;
}
.grid_index .vid-2{
    grid-area: v2;
    font-size: 1.1em;
}
.grid_index .vid-3{
    grid-area: v3;
    font-size: 1.1em;
}
.grid_index .vid-4{
    grid-area: v4;
    font-size: 1.1em;
}
.grid_index .vid-5{
    grid-area: v5;
    font-size: 1.1em;
}
.grid_index .vid-6{
    grid-area: v6;
    font-size: 1.1em;
}
/* Pagina Tienda */
.title-principal{
    font-size: 0.8em;
    margin-bottom: -20px;
    text-align: center;
}
.tienda_titulo{
    text-align: center;
    margin-bottom: -10px;
    font-size: 0.7em;
}
.img-banner{
height: 85vh;
}
/* Pagina Actores */
.grid_actores{
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 170px 680px 640px 180px 640px 650px;
    grid-template-areas:
    "tp"
    "t-1"
    "a1"
    "a2"
    "t-2"
    "a3"
    "a4";
}
    .grid_actores .titulo-principal{
        grid-area: tp;
        font-size: 0.63em;
        margin-top: -10px;
    }
    .grid_actores .title1{
        grid-area: t-1;
        font-size: 0.73em;
        text-align: center;
        padding: 20px;
    }
    .grid_actores .actor-1{
        grid-area: a1;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-2{
        grid-area: a2;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .title2{
        grid-area: t-2;
        text-align: center;
        padding: 20px;
        font-size: 0.73em;
    }
    .grid_actores .actor-3{
        grid-area: a3;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid_actores .actor-4{
        grid-area: a4;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
.img-actores{
    height: 280px;
    width: 280px;
}
.text-actores{
    font-size: 0.75em;
    margin: 20px;
    text-align: center;
}
/* ends actores */
/* pagina hoyoverse */
.title-hoyoverse{
    font-size: 0.6em;
}
.contenedor-inf{
    font-size: 0.7em;
}
.img-lugar{
    width: 270px;
    height: 200px;
}
.video-hoyoverse{
    width: 270px;
    height: 160px;
}
.text-vid{
    font-size: 0.75em;
}
.subtitulo-hoyoverse{
    font-size: 0.8em;
}
}