form{
    @include text (flex, center, center);
    flex-direction: column;
    padding: 5px;
    div{
        input{
            width: 300px;
            height: 20px;
        }
        label{
            display: $d;
            text-align: $centro;
        }
        textarea{
            width: 300px;
            height: 300px;
        }
    }
}

.btn-contacto{
    @extend .btn-contacto;
}