.grid_index{
    display: $g;
    box-sizing: border-box;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 50px 350px 50px 350px 50px 350px 50px 350px 80px 500px 500px 500px;
    grid-template-areas:
    "t1 t1"
    "t2 t2"
    "inf1 inf1"
    "t3 t3"
    "inf2 inf2"
    "t4 t4"
    "inf3 inf3"
    "t5 t5"
    "inf4 inf4"
    "t6 t6"
    "v1 v2"
    "v3 v4"
    "v5 v6";
    .texto_index{
        margin: 30px;
        font-size: map-get($map: $fontSize, $key: cuatro );
    }
    .video-index{
        width: 620px;
        height: 350px;
    }
    .img-index{
        width: 500px;
        height: 300px;
        object-fit: cover;
    }
    .titulo-1{
        grid-area: t1;
        font-size: map-get($map: $fontSize, $key: siete );
        text-align: $centro;
    }
    .titulo-2{
        grid-area: t2;
    }
    .info-1{
        grid-area: inf1;
        display: $d;
        justify-content: flex-start;
        align-items: $centro;
    }
    .titulo-3{
        grid-area: t3;
    }
    .info-2{
        grid-area: inf2;
        display: $d;
        justify-content: flex-start;
        align-items: $centro;
    }
    .titulo-4{
        grid-area: t4;
    }
    .info-3{
        grid-area: inf3;
        display: $d;
        justify-content: flex-start;
        align-items: $centro;
    }
    .titulo-5{
        grid-area: t5;
    }
    .info-4{
        grid-area: inf4;
        display: $d;
        justify-content: flex-start;
        align-items: $centro;
    }
    .titulo-6{
        grid-area: t6;
        @include text (flex, center, center);
        font-size: map-get($map: $fontSize, $key: cinco );
        justify-content: $centro;
    }
    .vid-1{
        grid-area: v1;
        @include text (flex, center, center);
        flex-direction: column;
        justify-content: $centro;
        font-size: map-get($map: $fontSize, $key: cinco );
    }
    .vid-2{
        grid-area: v2;
        @include text (flex, center, center);
        flex-direction: column;
        justify-content: $centro;
        font-size: map-get($map: $fontSize, $key: cinco );
    }
    .vid-3{
        grid-area: v3;
        @include text (flex, center, center);
        flex-direction: column;
        justify-content: $centro;
        font-size: map-get($map: $fontSize, $key: cinco );
    }
    .vid-4{
        grid-area: v4;
        @include text (flex, center, center);
        flex-direction: column;
        justify-content: $centro;
        font-size: map-get($map: $fontSize, $key: cinco );
    }
    .vid-5{
        grid-area: v5;
        @include text (flex, center, center);
        flex-direction: column;
        justify-content: $centro;
        font-size: map-get($map: $fontSize, $key: cinco );
    }
    .vid-6{
        grid-area: v6;
        @include text (flex, center, center);
        flex-direction: column;
        justify-content: $centro;
        font-size: map-get($map: $fontSize, $key: cinco );
    }
}

