.tituloTienda{
    font-size: map-get($map: $fontSize, $key: siete );
    margin-bottom: -30px;
    text-align: $centro;
}
.subTituloTienda{
    text-align: $derecho;
    margin: 30px;
}
.centro{
    text-align: $centro;
    margin-left: 15px;
    margin-right: 15px;
}

.productos{
    display: $d;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    figure{
        width: 31%;
        margin-bottom: 30px;
        margin-top: 20px;
        margin: 10px;
        p{
            font-size: map-get($map: $fontSize, $key: ocho );
            margin-bottom: 10px;
            margin-top: 10px;
        }
        figcaption{
            font-size: map-get($map: $fontSize, $key: cuatro );
        }
        button{
            @extend .btn-contacto;
            margin-top: 0;
        }
    }
}

